@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.white{
    background-color: #eeeed2;
}

.black{
    background-color: #769656
}

#board td{
    width: 64px;
    height: 64px;
}

#board button{
    background-color:transparent;
    border: none;
    cursor: pointer;
    padding: 0 0;
    width: 100%;
    height: 100%;
}

#board{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;

}
.board-container{
    position: relative;
    box-sizing: border-box;
    /* width: 50%; */
    /* margin: 10% 20% 10% 20%; */

}

body{
    background-color: #312e2b;
}
.player-name{
    width:fit-content;
    margin: 10px auto 10px auto;
    background-color: #00203FFF;
    padding: 10px;
    color:white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.selectedCell{
    background-color: #d36b51;
}