@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.white{
    background-color: #eeeed2;
}

.black{
    background-color: #769656
}

#board td{
    width: 64px;
    height: 64px;
}
td img{
    width: 100%;
    height: 100%;
    display: block;
}

#board button{
    background-color:transparent;
    border: none;
    cursor: pointer;
    padding: 0 0;
    width: 100%;
    height: 100%;
}

#board{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;

}
.board-container{
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}

body{
    background-color: #312e2b;
}
.player-name{
    width:fit-content;
    margin: 10px auto 10px auto;
    background-color: #00203FFF;
    padding: 10px;
    color:white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.selectedCell{
    background-color: #d36b51;
}

.possibleMove{
    cursor: pointer;
    box-shadow: inset 0 0 60px #458a84;
    
}

.possibleEat{
    cursor: pointer;
    box-shadow: inset 0 0 60px #bd0808;

}

.winner-box{
    display: none;
    position: absolute;
    z-index: 2;
    background: rgba(70, 70, 70, .8);
    width: 25%;
    height: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winner-text{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bolder;
    white-space: nowrap;
    color: #ffff;
}